version: "3.9"

services:
  db:
    image: postgres:15
    env_file:
      - db.env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_net
  
  backend:
    build:
     context: ./backend
     dockerfile: Dockerfile
    env_file:
      - db.env
      - redis.env
      - backend.env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    networks:
      - app_net

  nginx:
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    ports: 
      - "80:80" 
    volumes:
      - ./nginx/logs:/var/log/nginx
    depends_on:
      - backend
    networks:
      - app_net

  worker: 
    build: 
      context: ./worker
      dockerfile: Dockerfile
    env_file:
      - db.env
      - redis.env
    depends_on:
      - redis
      - db
    networks:
      - app_net

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    networks:
      - app_net




volumes:
  db_data:
  redis_data:
networks:
  app_net:

